{% set currentRoute = app.request.attributes.get('_route') %}
<!DOCTYPE html>
<html lang="{{ get_config('rf.html.lang') }}">
    <head>
            <!-- force the latest ie rendering engine *or* cromeframe, if installed -->
            <!--[if IE]>
                <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
            <![endif]-->

            <meta charset="{{ get_config('rf.html.charset') }}" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta name="description" content="">
            <meta name="author" content="Scribe Inc.">

            <title>
                {% block titlePre  %} {{ get_config('rf.html.title_pre') }}  {% endblock %}
                {% block title     %} Home                                   {% endblock %}
                {% block titlePost %} {{ get_config('rf.html.title_post') }} {% endblock %}
            </title>

            {% block stylesheets %}
                <link rel="stylesheet" type="text/css" media="all" id="opensans-css" 
                    href="http://fonts.googleapis.com/css?family=Open+Sans%3A400%2C600%2C700%2C800%2C300&amp;ver=3.6">
                <link rel="stylesheet" type="text/css" media="all" id="opensanscondensed-css" 
                    href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed%3A700&amp;ver=3.6">
            {% endblock %}

            {% image 
                output='favicon.ico'
                '@RfBlogBundle/Resources/public/img/favicon.ico'
            %}
                <link rel="shortcut icon" href="{{ asset_url }}">
            {% endimage %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>