{% set currentRoute = app.request.attributes.get('_route') %}
<!DOCTYPE html>
<html lang="{{ get_config('rf.html.lang') }}">
    <head>
            <meta charset="{{ get_config('rf.html.charset') }}" />
            <title>
                {% block titlePre  %} {{ get_config('rf.html.title.pre') }}  {% endblock %}
                {% block title     %} Home                                   {% endblock %}
                {% block titlePost %} {{ get_config('rf.html.title.post') }} {% endblock %}
            </title>
            {% block stylesheets %}{% endblock %}
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>