{% extends 'RfBlogBundle::bootstrap.html.twig' %}

{% block body %}

    {% include 'RfBlogBundle:Part:header.html.twig' with {'currentRoute': currentRoute} only %}

    {% include 'RfBlogBundle:Part:welcome.html.twig' %}

    <div class="container">
        <div class="row">
            {% set posts_count = posts|length %}
            {% set posts_col_size = 12/posts_count %}
            {% for i, p in posts %}
                <div class="col-lg-{{ posts_col_size }} blog-post-teaser">
                    <h2>{{ p.getTitle }}</h2>
                    <h4>{{ p.getPostedFormatted(get_config('rf.date_format')) }}</h4>
                    {{ p.getEntry|swim }}
                    <p><a class="btn btn-info" href="{{ path('rf_blog_entry', {'year': p.getPostedFormatted('Y'), 'month': p.getPostedFormatted('m'), 'day': p.getPostedFormatted('d'), 'title': p.getTitleKey, 'id': p.getId}) }}">Read more &raquo;</a></p>
                </div>
            {% endfor %}
        </div>
    </div>

    {% include 'RfBlogBundle:Part:footer.html.twig' only %}

{% endblock %}